.contact {
  .hero {
    h1 {
      color: $black;
      margin-bottom: 42px;
    }
  }

  .office-contact {
    margin-bottom: 50px;

    .hide-title .icon-tile-content-wrapper {
      display: none;
    }

    .icon-tile {
      flex-direction: row;
      justify-content: flex-start;
      padding: 0 16px;

      .icon-tile-icon {
        margin-bottom: 48px;

        img {
          width: 48px;
          height: initial;
        }
      }
  
      .icon-tile-content-wrapper,
      .icon-tile-link-wrapper {
        font-size: 24px;
        margin-bottom: initial;
        margin-left: 24px;
        padding-top: 2px;
        text-align: left;
        min-height: 50px;
  
        span,
        a {
          font-size: 24px;
          line-height: 1;
          color: $black;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .hero {
      h1 {
        margin-bottom: 42px;
      }
    }

    .office-contact {
      .icon-tile {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
  
        .icon-tile-icon {
          margin-bottom: 48px;
  
          img {
            width: 48px;
          }
        }
      }
    }
  }
}