.disclaimer {
  margin-bottom: 80px;

  h1 {
    color: $primary-red;
    text-align: center;
    margin-bottom: 36px;
  }

  .text-content {
    font-size: 18px;
  }

  .bold-text {
    font-weight: bold;
  }
}