.navbar-expand-lg {
  background-color: none;
  
  .navbar-collapse {
    justify-content: center;
  }

  a {
    font-family: $primary-font;
    text-decoration: none;
    color: $primary-black;
    padding: 22px;

    &:hover,
    &:focus {
      color: $primary-yellow;
    }
  }

  .drop-down {
    a {
      font-family: $primary-font;
      text-decoration: none;
      color: $primary-black !important;
      padding-left: 22px;
      padding-right: 22px;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $primary-yellow !important;
      }
    }
  }

  .logo-1 {
    height: 122px;
  }

  .nav-item {
    margin-right: 22px;
  }
}