.full-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;

  .full-cta-title-wrap{
    text-align: center;
 
      span.full-cta-title {
      font-size: 28px;
      font-weight: bold;
      color: $primary-red;
    }
  }

  .full-cta-btns {
    display: flex;
    justify-content: center;
    padding-top: 32px;
  }
}

//small desktop
@media screen and (min-width: 1024px) {
  .full-cta {
    margin-bottom: 160px;
    
    .full-cta-title-wrap{
        span.full-cta-title {
        font-size: 60px;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}