.img-cta {
  position: relative;
  flex-direction: column;
  padding: 0;
  margin-bottom: 75px;

  .img-cta-bg {
    max-width: 100%;
  }

  .floating-img-cta-content {
    position: initial;
    height: 100%;
    width: 100%;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-cta-content-wrapper {
      background-color: $white;
      border: none;
      margin: 0px 16px;

      .cta-title {
        font-size: 30px;
        font-weight: bold;
      }
  
      .cta-sub {
        font-size: 16px;
      }

      .primary-btn {
        margin-top: 24px;
      }
    }
  }
}

//small desktop
@media screen and (min-width: 1024px) {
  .img-cta {
    flex-direction: row;
    margin-bottom: 160px;

    .floating-img-cta-content {
      position: absolute;
      flex-direction: row;
      width: 50%;

      .img-cta-content-wrapper {
        padding: 36px;
        margin-left: 60px;
        border: 3px solid $primary-yellow;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}