.btn.primary-btn,
.btn-primary {
  background-color: $primary-yellow;
  border-color: $primary-yellow;
  color: $white;
  font-weight: bold;

  &:focus,
  &:hover {
    background-color: $white;
    color: $primary-yellow;
  }
}