@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-font: 'Open Sans', sans-serif;

html {
  font-family: $primary-font;
}

.btn {
  white-space: nowrap;
  font-size: 12px;
  margin-top: 12px;
  padding: 6px;
}

//small desktop
@media screen and (min-width: 1024px) {
  .btn {
    margin-top: 0;
    padding: 10px;
    font-size: 16px;
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}